/* line 1, c:/users/user/pycharmprojects/mysqltest2/mysqltest/static/css/baseTemplate.css */
div#headMenu {
  width: 1504px;
  height: 50px; }

/* line 5, c:/users/user/pycharmprojects/mysqltest2/mysqltest/static/css/baseTemplate.css */
div#logo {
  display: inline-block;
  float: left;
  width: 239px;
  height: 48px;
  border: 1px solid yellow;
  background-color: yellow; }

/* line 13, c:/users/user/pycharmprojects/mysqltest2/mysqltest/static/css/baseTemplate.css */
div#midContent {
  position: relative;
  width: 1508px;
  height: 590px; }

/* line 18, c:/users/user/pycharmprojects/mysqltest2/mysqltest/static/css/baseTemplate.css */
div.middle {
  display: inline-block;
  float: left;
  height: 590px; }

/* line 23, c:/users/user/pycharmprojects/mysqltest2/mysqltest/static/css/baseTemplate.css */
div#bottomInfoBox {
  position: relative;
  background-color: red;
  top: 2px;
  border: 1px solid blue;
  width: 1504px;
  height: 50px; }
