@import "color.scss";

div#headMenu{
  height:50px;
  border:1px solid $black;
}
#logo{
  display:inline-block;
  float:left;
  height:48px;
  border:1px solid $yellow-400;
  background-color:$yellow-400;
}
div#midContent{
  position:relative;
  height:590px;
}
div.middle{
  display:inline-block;
  float:left;
  height:590px;
}
div#bottomInfoBox{
  position:relative;
  background-color:$red;
  top:2px;
  border:1px solid $blue;
  height:50px;
}