@import "color.scss";
body{
  font-family:'Noto Sans KR', sans-serif !important;
  min-height:600px;
  min-width:1200px;
  height:100vh;
  width:100vw;
}
#headMenu{
  width:100%;
  height:7.5%;
  background-color:#A23355;
}
#headMenu>div{
  display:inline-block;
  float:left;
  height:100%;
}
#logo{
  float:right;
  height:100%;
  width:50%;
}
div#midContent{
  display:block;
  position:relative;
  height:82.5%;
  width:100%;
}
#leftSideMenu{
  border-right:2px solid #B3B3B3;
  border-left:none;
  width:20%;
}
#mainDiv{
  width:60%;
}
#rightSideMenu{
  border-left:2px solid #B3B3B3;
  width:20%;
}
div.middle{
  display:inline-block;
  float:left;
  height:100%;
}
div#bottomInfoBox{
  position:relative;
  background-color:#B3B3B3;
  height:10%;
}