@import "color.scss";

div#mainMenu{
    display:inline-block;
    left:250px;
}
div#mainMenu>div.button{
    height:50px;
    border-width:1px;
    background-color:green;
    border-color:$black;
}
div#mainMenu>div.button>a{
    display:inline;
    height:50px;
}
div#userInfo{
    display:inline-block;
}
a#login{
    height:50px;
    display:inline-block;
    float:left;
    background-color:$blue-300;
}
form#search-form{
    display:inline-block;
    float:left;
}
button#myInfo{
    height:50px;
    display:inline-block;
    float:left;
}
.nav-item{
    display:inline-block;
    float:left;
}
.bg-red-500{
    background-color: $red-500;
}