@import "color.scss";
div#leftSideMenu{
    background-color:#6CD979;
}
div#searchConditionForm{
    margin-left:10px;
}
div#reviewSearchResult{
    position:relative;
    height:100%;
    border:2px solid skyblue;
    overflow-y:scroll;
    overflow-x:hidden;
}
fieldset#common_info{
    display:block;
}
fieldset#built_year{
    display:block;
}
fieldset#address{
    display:block;
}
fieldset#address>input{
}
button#searchFormOpen{
    position:absolute;
    z-index:1;
}
.review_writer{
    border:1px solid $blue-600;
    font-size:13px;
}
.review_title{
    border:1px solid $blue-600;
    font-size:20px;
}
.review_icon{
    border:1px solid $blue-600;
    height:35px;
}