@import "color.scss";
div#rightSideMenu{
    display:none;
}
.left-side-room-img{
    width:30%;
    height:100px;
}
.slider>div{
    height:35vh;
    min-height:204px;
    margin-bottom:35px;
}
.bx-wrapper{
    margin-bottom:35px;
}

.img{
    float:left;
}
.icon{
    height:100%;
}