div#mainMenu{
    display:inline-block;
    float:left;
}
div#mainMenu>ul{
    margin:0px;
    padding:0px;
    display:inline-block;
    float:left;
}
div#mainMenu>ul>li{
    display:inline-block;
    float:left;
}
div#mainMenu>ul>li>button{
    width:350px;
    height:150px;
    padding:0;
    border-width:1px;
    background-color:green;
}
div#userInfo{
    display:inline-block;
}
button.loginout{
    width:213px;
    height:75px;
    display:block;
}
button#myInfo{
    width:213px;
    height:75px;
    display:block;
}