@import "color.scss";
div#reviewinfo{
    height:220px;
}

div#reviewContent{
    height:300px;
    border:2px solid #B3B3B3;
}
div#mainDiv{
    overflow-y:scroll;
    overflow-x:hidden;
}
div#icon{
    height:228px;
}
#reviews{
    height:100%;
}

.chel{
    width:14.1%;
    text-align:left;
    display:inline-block;
    border:2px solid #B3B3B3;
}


#reviews{
  overflow-y:hidden;
    padding-left: 5.7%;
}