@import "color.scss";
div#reviewInfo{
    height:200px;
}
div#reviewContent{
    height:300px;
    border:1px solid grey;
}
div#midContent{
    height:1000px;
}
div.middle{
    height:1000px;
}
div#icon{
    height:228px;
}