@import "color.scss";
div#searchConditionForm{
    margin-left:10px;
}
div#reviewSearchResult{
    position:relative;
    height:100%;
    border:2px solid skyblue;
    overflow-y:scroll;
    overflow-x:hidden;
}
fieldset#common_info{
    display:block;
}
fieldset#common_info > label{
    color:#A23355;
}
fieldset#built_year{
    display:block;
}
fieldset#address{
    display:block;
}
fieldset#address>input{
}
button#searchFormOpen{
    position:absolute;
    z-index:1;
}
.review_writer{
    border:1px solid $blue-600;
    font-size:13px;
}
.review_title{
    border:1px solid $blue-600;
    font-size:20px;
}
.review_icon{
    border:1px solid $blue-600;
    height:35px;
}
#search_filter>fieldset>legend{
    font-size:1rem;
}
#searchConditionForm{
    padding-left:5px;
    padding-right:10px;
}
#searchConditionForm>p{
    margin-top:20px;
    font-size:30px;
}
#search_filter>fieldset{
    margin-bottom:30px;
}
#search_filter>fieldset>label #search_filter>label{
    margin-bottom:10px;
}