@import "color.scss";
div#searchConditionForm{
    position:absolute;
    border:2px solid orange;
    background-color:orange;
}
div#reviewSearchResult{
    position:relative;
    height:100%;
    border:2px solid skyblue;
    overflow:scroll;
}
div#reviewSearchResult::-webkit-scrollbar{
  display:none;
}
fieldset#common_info{
    display:block;
}
fieldset#built_year{
    display:block;
}
fieldset#address{
    display:block;
}
fieldset#address>input{
}
button#searchFormOpen{
    position:absolute;
    z-index:1;
}
.review_writer{
    border:1px solid $blue-600;
    font-size:13px;
}
.review_title{
    border:1px solid $blue-600;
    font-size:20px;
}
.review_icon{
    border:1px solid $blue-600;
    height:35px;
}