@import "color.scss";

#introduce{
    display:flex;
    width:100%;
    height:100%;
    align-items:center;
    justify-content:center;
}
.drpd{
    cursor:pointer;
    color:white;
}
#room_main{
    display:flex;
    width:100%;
    height:100%;
    align-items:center;
    justify-content:center;
}
#review_main{
    display:flex;
    width:100%;
    height:100%;
    align-items:center;
    justify-content:center;
}
.drpd-content{
    display: none;
    position: absolute;
    z-index:2;
    width:100%;
    height:100%;
    top:100%;
    background-color:white;
    align-items:center;
    justify-content:center;
    border:1px solid #A23355;
}
.drpd-sub{
    height:50%;
    text-align:center;
    color:black;
}
.drpd-sub:hover{
    background-color:#F4DBE3;
}
#userInfo{
    display:inline-block;
}
#login{
    display:inline-block;
    float:left;
    color:white;
    text-decoration:none;
}
#search-form{
    display:inline-block;
    float:left;
}
#userInfo{
    display:inline-block;
    height:50px;
    float:left;
}
.nav-item{
    display:inline-block;
    float:left;
}
.bg-red-500{
    background-color: $red-500;
}