{% load static %}

{% url 'logout' as logout %}
{% url 'login' as login %}
{% url 'main' as main %}
{% url 'signup' as signup %}
{% url 'loginPage' as loginPage %}
{% url 'infoCheck' as infoCheck %}
{% url 'normalUserReviewSearch' as normalUserReviewSearch %}
{% url 'normalUserRoomSearch' as normalUserRoomSearch %}
{% url 'normalUserReviewRead' as normalUserReviewRead %}
{% url 'wroteReviews' as wroteReviews %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>리뷰 작성 및 요약 분석</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="{% static 'css/baseTemplate.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script  src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <div class="navbar-light" id="headMenu">
        <div class="nav-item col-1" style="display:inline-block; float:left; height:20px;"></div>
        <div>
            <div style="height:0.7vh;"></div>
            <a href="/" class="navbar-brand col-1 text-center" id="logo" style="display:inline-block; float:left;"><img style="width:6vh; height:6vh;" src="{% static 'images/logo/logo.png' %}" alt="로고 이미지"></a>
        </div>
        {% block head_menu %}
        {% endblock %}
    </div>
    <div id="midContent">
        <div class="middle" id="leftSideMenu" style="border:2px solid #B3B3B3; border-left:none; width:20%; ">
            {% block left_side_bar %}
            {% endblock %}
        </div>
        <div class="middle" id="mainDiv" style="border:2px solid #B3B3B3; width:60%;">
            {% block main_contents %}
            {% endblock %}
        </div>
        <div class="middle" id="rightSideMenu" style="border:2px solid #B3B3B3; border-right:none; width:20%;">
            {% block right_side_bar %}
            {% endblock %}
        </div>

    </div>
    <div id="bottomInfoBox" style ="background-color: silver; width:100%; height:10vh;">
        <!-이 공간은 팀 정보를 저장하기 위한 공간입니다.-->
    </div>
</body>
</html>