{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>리뷰 작성 및 요약 분석</title>
    <link rel="stylesheet" href="{% static 'css/baseTemplate.css' %}">
</head>
<body>
    <div id="headMenu">
        <div id="logo" style="display:inline-block; float:left;">
            <a href="http://127.0.0.1:8000/" >로고 이미지</a>
        </div>
        {% block head_menu %}
        {% endblock %}
    </div>
    <div id="midContent">
        <div class="middle" id="leftSideMenu" style="border:1px solid black; width:250px;">
            {% block left_side_bar %}
            {% endblock %}
        </div>
        <div class="middle" id="mainDiv" style="border:1px solid green; width:1000px;">
            {% block main_contents %}
            {% endblock %}
        </div>
        <div class="middle" id="rightSideMenu" style="border:1px solid black; width:250px;">
            {% block right_side_bar %}
            {% endblock %}
        </div>
    </div>
    <div id="bottomInfoBox">
        <!-이 공간은 팀 정보를 저장하기 위한 공간입니다.-->
    </div>
</body>
</html>