{% extends 'normal_user_base.html' %}
{% load static %}

{% block main_contents %}
<link rel="stylesheet" href="{% static 'css/normalUserInfoCheckTemplate.css' %}">
<div id="infoCheckAndUpdate">
    <!-정보 확인 및 수정을 위한 공간 / 폼을 통해 정보 확인 및 갱신-->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{userForm.as_table}}
        </table>
        <input type="submit" value="변경하기">
        <button type="button">탈퇴하기</button>
    </form>
</div>
<div id="others">
    <!-작성한 리뷰 목록 공간-->
</div>
{% endblock %}
