{% extends 'normal_user_base.html' %}
{% load index static %}

{% block main_contents %}
{% if request.path != infoCheck %}
<meta http-equiv="refresh" content="0; url='{{infoCheck}}'">
{% else %}
<script>
    window.onpageshow = function(event) {
        if (event.persisted) {
            document.location.reload();
        }
    };
</script>
{% endif %}
<link rel="stylesheet" href="{% static 'css/normalUserInfoCheckTemplate.css' %}">
<div id="infoCheckAndUpdate" style="height:39vh;">
    <!-정보 확인 및 수정을 위한 공간 / 폼을 통해 정보 확인 및 갱신-->
    <h1>회원 정보 설정</h1>
    <form method="POST" enctype="multipart/form-data" action="/change_user_info/" onsubmit="get_layout()">
        {% csrf_token %}
        <table>
            {{userForm.as_table}}
        </table>
        <div style="float:right;">
            <input type="submit" value="변경하기">
            <button type="button">탈퇴하기</button>
        </div>
    </form>
    <p>
        경고 횟수 : <span>{{user.uWarnCount}}</span>회
    </p>
    <p>
        활동 상태 : <span>{{user|check_active}}</span>
    </p>
</div>

<!- 레이아웃 결정용! -->
<div style="height:39vh;">
    <div style="top:13.3vh;">
        <h1>레이아웃 설정</h1>
    </div>
    <form method="POST" enctype="multipart/form-data" action="/change_user_layout/">
        <input type="radio" name="layout" id="layout1" value="1" checked style="display:none;">
        <div style="display:inline-block; left:6vw; position:relative; z-index:1;">
            <label for="layout1"><img src="{% static 'images/layouts/1.png' %}" style="width:21vw; height:25.5vh;" id="layout1img"></label>
        </div>
        <input type="radio" name="layout" id="layout2" value="2" style="display:none;">
        <div style="display:inline-block; right:6vw; float:right; position:relative;">
            <label for="layout2"><img src="{% static 'images/layouts/2.png' %}" style="width:21vw; height:25.5vh;" id="layout2img"></label>
        </div>
        <br><br>
        <input type="submit" value="변경하기" style="float:right;">
    </form>
</div>
<script  src="{% static 'js/normalUserInfoCheckTemplate.js' %}"></script>
{% endblock %}
