{% extends 'normal_user_base.html' %}
{% load static %}

{% block main_contents %}
<link rel="stylesheet" href="{% static 'css/normalUserSignUpTemplate.css' %}">
<div id="disclaimer">
    <div>
        <h3 id="disclaimer_head">
            안내사항
        </h3>
        <div>
            <div id="disclaimer_body">
                <span>
                    본 사이트는 회원 식별을 위해 이메일을 보조적으로 사용합니다.
                </span>
                <span>
                    따라서 이메일을 제공하지 않을 시 회원가입이 제한됩니다.
                </span>
                <span>
                    로그인을 하지 않을 경우 리뷰 작성/수정/삭제/추천/신고 등의 회원 전용 기능을 이용할 수 없습니다.
                </span>
                <span>
                    본 사이트는 회원 정보를 회원 식별 및 관리 이외의 용도로 사용하지 않습니다.
                </span>
                <span>
                    위의 사항들을 모두 인지하고 동의하신다면 카카오 로그인 버튼을,
                </span>
                <span>
                    동의하지 않는 경우 메인페이지로 이동하기 버튼을 눌러주세요.
                </span>
            </div>
        </div>
    </div>
</div>
<div id="sign_up">
    <div>
        <div style="margin-bottom:5%;">
            <a style="width:100%; height:100%;" type="button" href="{% url 'social:begin' 'kakao' %}?next={{ signup }}"><img style="width:100%; height:100%;" src="{% static 'images/logo/kakao_login_large_wide.png' %}"></a>
        </div>
        <div id="to_main" style="cursor:pointer; border:2px solid #A23355;" onclick="location.href = '/'">메인 페이지로 이동하기</div>
    </div>
</div>
<script>
    window.onload=function(){
        var to_main_button = document.getElementById('to_main');
        var to_main_height = to_main_button.offsetHeight/16;
        var to_main_width = to_main_button.offsetWidth/16/to_main_button.innerText.length;
        if(to_main_height < to_main_width)
            to_main_button.style.fontSize=to_main_height.toString()+'rem';
        else
            to_main_button.style.fontSize=to_main_width.toString()+'rem';
    }
    window.onresize=function(){
        var to_main_button = document.getElementById('to_main');
        var to_main_height = to_main_button.offsetHeight/16;
        var to_main_width = to_main_button.offsetWidth/16/to_main_button.innerText.length;
        if(to_main_height < to_main_width)
            to_main_button.style.fontSize=to_main_height.toString()+'rem';
        else
            to_main_button.style.fontSize=to_main_width.toString()+'rem';
    }
</script>
{% endblock %}
