{% extends 'normal_user_review_list.html' %}
{% load index static %}
{% block info %}
{% url 'normalUserReviewDelete' as normalUserReviewDelete %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ javakey|java_key }}&libraries=services&autoload=true"></script>
<div id="reviewHead" style = "height:32.8%; ">
    <div style ="margin:15px; height:100%">
        <div id="review_image" style="width:24.7%; height:90.7%; margin-right:20px; display: inline-block;float:left;">
            <img src="{% static 'images/reviewImage/' %}{{review.representiveImage|defaultImage}}" style="width:100%; height:100%;">
        </div>
        <div id="mapDiv" style = "display:inline-block;"></div>
        <script>
            $(document).ready(function () {
                var a = $('.slider').bxSlider({
                    {#maxSlides:4,#}
                    infiniteLoop: false,
                    touchEnabled: false,
                });
            });
        </script>
        <script type="text/javascript">

            // icon 이미지 <-> selected icon 이미지 변환 함수
            // 만들 예정
            function selectIcon2(e){
                alert("아이콘 클릭 이벤트 발생")
            }

                document.getElementById('mapDiv').style.width = '71%';
                document.getElementById('mapDiv').style.height = '90.7%';
                document.getElementById('mapDiv').style.minWidth = '71%';
                var mapContainer = document.getElementById('mapDiv'), // 지도를 표시할 div
                    mapOption = {
                        center: new kakao.maps.LatLng(36.628064331494166, 127.45600280223212), // 지도의 중심좌표
                        level: 5 // 지도의 확대 레벨
                    };

                // 지도 생성
                function resizeMap() {
                    var mapContainer = document.getElementById('map');
                    mapContainer.style.width = document.getElementById('mainDiv').style.width;
                }

                var map = new kakao.maps.Map(mapContainer, mapOption);

                {# 지도에 원룸 위치 표시 #}
                var geocoder = new kakao.maps.services.Geocoder();

                $.ajax({
                    url: 'http://127.0.0.1:8000/db/room/',
                    method: "GET",
                    dataType: "json"
                })
                    .done(function (json) {
                        $.each(json, function (key, value) {
                            // 주소로 좌표를 검색합니다
                            geocoder.addressSearch(value.address, function (result, status) {

                                // 정상적으로 검색이 완료됐으면
                                if (status === kakao.maps.services.Status.OK) {
                                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                                    // 결과값으로 받은 위치를 마커로 표시합니다
                                    var marker = new kakao.maps.Marker({
                                        map: map,
                                        position: coords
                                    });

                                    var room_info = ''
                                    if (value.name !== null)
                                        room_info = value.name
                                    else
                                        room_info = value.address

                                    // 인포윈도우로 장소에 대한 설명을 표시합니다
                                    var infowindow = new kakao.maps.InfoWindow({
                                        content: '<div style="width:150px;text-align:center;padding:6px 0;">' + room_info + '</div>'
                                    });

                                    infowindow.open(map, marker);
                                }
                            })
                        })
                    });
            {% if icons == None %}
                var icons = null;
            {% else %}
                var icons = {{icons}};
            {% endif %}
            {% if recommended %}
                var recommended = true;
            {% else %}
                var recommended = false;
            {% endif %}
            {% if reported %}
                var reported = true;
            {% else %}
                var reported = false;
            {% endif %}
            {% if reported %}
                var reported = true;
            {% else %}
                var reported = false;
            {% endif %}
            {% if user.is_anonymous %}
                let userloggedin=false;
            {% else %}
                let userloggedin=true;
            {% endif %}
            var reviewNum = {{review.id}};
            var recommendedImg = "{% static 'images/iconImage/recommended.png' %}";
            var recommendImg = "{% static 'images/iconImage/recommend.png' %}";
            var reportedImg = "{% static 'images/iconImage/reported.png' %}";
            var reportImg = "{% static 'images/iconImage/report.png' %}";
            var recommendNum = '{{review.recommendedOn|length}}';
        </script>
    </div>
</div>
<div id="review_table">

    <div id="row1">
        <div id="writer">
            <div style="display:flex; align-items:center; height:100%; width:100%;">
                &nbsp작성자 : {{review.reviewWriter}}
            </div>
        </div>
        <div id="review_address">
            <div style="display:flex; align-items:center; height:100%; width:100%;">
                <span>{{review.address}}&nbsp&nbsp</span>
            </div>
        </div>
        <div style="height:100%; width:4.15%; border-right:1px solid #B3B3B3;">
            <div id="review_update" style="display:flex; align-items:center; justify-content:center; height:100%; width:100%;">
                <a href="/normal_user_review_change/?id={{review.id}}">수정</a>
            </div>
        </div>
        <script>
            const csrftoken = Cookies.get('csrftoken');
            function review_delete_func(){
                $.ajax({
                    type: 'POST',
                    url: "/normal_user_review_delete/",
                    async: false,
                    headers: {'X-CSRFToken': csrftoken},
                    dataType: 'json',
                    data: {
                        'review': {{review.id}},
                    },
                    success: function (response) {
                        // on successful creating object
                        window.location.replace('/normal_user_review_search/');
                    },
                    error: function (response) {
                        // alert the error if any error occured
                        alert('error');
                    }
                })
            }
        </script>
        <div style="height:100%; width:4.15%;">
            <div id="review_delete" style="display:flex; align-items:center; justify-content:center; height:100%; width:100%;">
                <a href="javascript:(0)" onclick="review_delete_func();">삭제</a>
            </div>
        </div>
        <div id="room_read">
            <div style="display:flex; align-items:center; justify-content:center; height:100%; width:100%;">
                <a>이동</a>
            </div>
        </div>
    </div>
    <div id="row2">
        <div id="title">
            <div style="display:flex; align-items:center; height:100%; width:100%;">
                <span>&nbsp{{review.reviewTitle}}</span>
            </div>
        </div>
    </div>
    <div id="row3">
        {% if review.rent == 1 %}
            <div style="width:14.82%; border-right:2px solid #B3B3B3;"><div style="display: flex;width: 100%;height: 100%;align-items: center;">월세 {{review.monthlyRent}}만원</div></div>
        {% endif %}
        <div style="width:14.82%; border-right:2px solid #B3B3B3;"><div style="display: flex;width: 100%;height: 100%;align-items: center;">보증금 {{review.deposit}}만원</div></div>
        <div style="width:13.834%; border-right:2px solid #B3B3B3;"><div style="display: flex;width: 100%;height: 100%;align-items: center;">크기 {{review.roomSize}}㎡</div></div>
        <div style="width:12.846%; border-right:2px solid #B3B3B3;"><div style="display: flex;width: 100%;height: 100%;align-items: center;">채광 ☆{{review.lighting}}</div></div>
        <div style="width:12.846%; border-right:2px solid #B3B3B3;"><div style="display: flex;width: 100%;height: 100%;align-items: center;">청결 ☆{{review.cleanliness}}</div></div>
        <div style="width:12.846%; border-right:2px solid #B3B3B3;"><div style="display: flex;width: 100%;height: 100%;align-items: center;">방음 ☆{{review.soundproof}}</div></div>
        <div style="width:12.846%; border-right:2px solid #B3B3B3;"><div style="display: flex;width: 100%;height: 100%;align-items: center;">습도 ☆{{review.humidity}}</div></div>
        {% if review.rent == 0 %}
            <div style="width:19.962%; height:100%;"></div>
        {% endif %}
    </div>
    <div id="row4">
        {% for sentence in review.reviewSentence %}
            <span>{{sentence}}</span><br>
        {% endfor %}
    </div>
    <div id="row5">
        <div id="icons" style="display:flex; align-items:center;">
            {% if icons %}
                {% for i in icon %}
                    <a onclick="selectIcon(this)">
                        <img src="{% static 'images/iconImage/' %}{{i}}.png">
                        <input type="text" hidden value="{% static 'images/iconImage/' %}{{i}}.png">
                        <input type="text" hidden value="{% static 'images/iconImage/' %}{{i}}{{i}}.png">
                        <input type="text" hidden value="{{i}}">
                    </a>
                {% endfor %}
            {% else %}
                <span>아이콘이 없습니다.</span>
                <script>
                    document.getElementById('icons').style.textAlign='center';
                </script>
            {% endif %}
        </div>
        <div id="rec_rep">
            <div id="rec_icon">
                <a onclick="toggleRecommend()" href="javascript:void(0);"><img id="rec" src="{% static 'images/iconImage/' %}recommend.png"></a>
            </div>
            <div id="rec_button">
                <div style="display:flex; align-items:center; justify-content:center; height:100%; width:100%;">
                    추천 {{review.recommendedOn|length}}
                </div>
            </div>
            <div id="rep_icon">
                <a onclick="toggleReport()" href="javascript:void(0);"><img id="rep" src="{% static 'images/iconImage/' %}report.png"></a>
            </div>
            <div id="rep_button">
                <div style="display:flex; align-items:center; justify-content:center; height:100%; width:100%;">
                    신고 {{review.reportedOn|length}}
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<script>var is_writer = {{is_writer}};</script>
<link rel="stylesheet" href="{% static 'css/normalUserReviewReadTemplate.css' %}">
<script type="text/javascript" src="{% static 'js/normalUserReviewReadTemplate.js' %}"></script>
{% endblock %}