{% extends 'normal_user_base.html' %}
{% load static %}
{% block main_contents %}
    {% block info %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/normalUserReviewListTemplate.css' %}">
    <div id="reviews_div">
        <div id="reviews">
            {% for review in paged_review %}
                <div class="review">
                    <div class="review_image">
                        {{review.representiveImage}}
                        {% if review.representiveImage == 'None' %}
                            <img src="{% static 'images/' %}{{review.representiveImage}}.png">
                        {% else %}
                            {# 리뷰 대표 이미지 없을 경우 다른 이미지 출력 #}
                            <img src="{% static 'images/' %}no-photo.png" style="width:100%; height:100%;">
                        {% endif %}
                    </div>
                    <div class="review_info">
                        <div class="review_title">
                            <a style="text-decoration:none; color:black;" href="{{normalUserReviewRead}}?id={{review.id}}">{{review.reviewTitle}}</a>
                        </div>
                        <div class="review_preview">
                            {{review.reviewSentence|first}}
                        </div>
                        <div class="review_icons">
                            {% for icon in review.includedIcon %}
                                <div class="icon">
                                    <a style="width:3.47%;height:4.04%;"
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if paged_review.has_previous %}
                <a id="prev_page">이전으로</a>
                <script>
                    document.getElementById('prev_page').href='{{normalUserReviewSearch}}?'+current_URL+"&page={{paged_review.previous_page_number}}"
                </script>
            {% endif %}
            {% if paged_review.has_next %}
                <a id="next_page">다음으로</a>
                <script>
                    document.getElementById('next_page').href='{{normalUserReviewSearch}}?'+current_URL+"&page={{paged_review.next_page_number}}"
                </script>
            {% endif %}
        </div>
        <script>
            a=Array.from(document.getElementsByClassName('review_title'));
            a.forEach(function(o){
                b=(o.offsetHeight/16).toString()+'rem';
                o.style.fontSize=b;
            });
            a=Array.from(document.getElementsByClassName('review_preview'));
            a.forEach(function(o){
                b=(o.offsetHeight/16).toString()+'rem';
                o.style.fontSize=b;
            });
        </script>
    </div>
{% endblock %}