{% extends 'normal_user_base.html' %}
{% load index static %}

{% block left_side_bar %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<link rel="stylesheet" href="{% static 'css/normalUserMainTemplate.css' %}">
<script type="text/javascript" src="{% static 'js/normalUserMainTemplate.js' %}"></script>
<script>
$(document).ready(function(){
    $('.slider').bxSlider({
    });
});
</script>
<div class="slider" id="famous">
    {% for popular_review in popular_reviews %} {# 추천순 데이터 최대 4개 출력 #}
        <div> {# 클릭시 해당 리뷰로 이동하는 링크 필요 #}
            <span>작성자 : {{ popular_review.reviewWriter }}</span>
            <span>추천 수 : {{ popular_review.recommendedOn|length }}</span>
            <div>리뷰 제목 : {{ popular_review.reviewTitle }}</div>
            <div>리뷰 내용 : {{ popular_review.reviewSentence }}</div>
            <span>대표 사진</span>
            <img class="left-side-room-img" src="{% static 'images/' %}{{ popular_review.additionalImage|first }}">
            <span>아이콘 목록 :
                {% for popular_icon in popular_review.includedIcon %}
                    <img src="{% static 'images/iconImage/' %}{{ popular_icon }}">
                {% endfor %}
            </span>
        </div>
    {% endfor %}
</div>
<div class="slider" id="recent">
    {% for latest_review in latest_reviews %} {# 최신순 데이터 최대 4개 출력 #}
        <div> {# 클릭시 해당 리뷰로 이동하는 링크 필요 #}
            <span>작성자 : {{ latest_review.reviewWriter }}</span>
            <span>추천 수 : {{ latest_review.recommendedOn|length }}</span>
            <div>리뷰 제목 : {{ latest_review.reviewTitle }}</div>
            <div>리뷰 내용 : {{ latest_review.reviewSentence }}</div>
            <span>대표 사진</span>
            <img class="left-side-room-img" src="{% static 'images/' %}{{ latest_review.additionalImage|first }}">
            <span>아이콘 목록 :
                {% for latest_icon in latest_review.includedIcon %}
                    <img src="{% static 'images/iconImage/' %}{{ latest_icon }}">
                {% endfor %}
            </span>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block main_contents %}
    {% if request.path == login %}
<script>
    window.onpageshow = function(event) {
        if (event.persisted) {
            window.location.replace('{{main}}');
        }
    };
</script>
{% elif request.path == main %}
<script>
    window.onpageshow = function(event) {
        if (event.persisted) {
            window.location.replace('{{main}}');
        }
    };
</script>
{% else %}
<meta http-equiv="refresh" content="0; url='{{main}}'">
{% endif %}
<script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{javakey|java_key}}&libraries=services&autoload=true"></script>
<script type="text/javascript">
    document.getElementById('leftSideMenu').style.width='20%';
    document.getElementById('mainDiv').style.width='80%';
    document.getElementById('mainDiv').style.minWidth='960px';
    var mapContainer = document.getElementById('mainDiv'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(36.628064331494166, 127.45600280223212), // 지도의 중심좌표
            level: 5 // 지도의 확대 레벨
        };
    // 지도 생성
    function resizeMap() {
        var mapContainer = document.getElementById('map');
        mapContainer.style.width = document.getElementById('mainDiv').style.width;
    }
    var map = new kakao.maps.Map(mapContainer, mapOption);
</script>
{% endblock %}