{% extends 'normal_user_base.html' %}
{% load static %}
{% url 'user-detail' pk=u_id as singleUser %}

{%block main_contents %}
<link rel="stylesheet" href="{% static 'css/normalUserReviewWriteTemplate.css' %}">
    <script  src="https://code.jquery.com/jquery-latest.min.js"></script>
<div id="icons" style="position:relative; display:none; float:left; height:500px; width:200px; border:1px solid green;">

</div>
<div onload="unloadevent()" style="position:relative; display:inline-block; height:500px; width:500px; float:left;">
    <form id="text_review" action="#" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="button" onclick="">텍스트</button>
        <button type="button" onclick="to_image()">이미지</button>
        <table class="form-contents">
            {{TextForm.as_table}}
        </table>
        <br>
        <input type="submit" value="submit">
    </form>
    <form id="image_review" action="#" method="POST" enctype="multipart/form-data" style="display:none;">
        {% csrf_token %}
        <button type="button" onclick="to_text()">텍스트</button>
        <button type="button" onclick="">이미지</button>
        <table class="form-contents">
            {{ImageForm.as_table}}
        </table>
        <br>
        <input type="submit" value="submit">
    </form>

</div>
<script type="text/javascript" src="{% static 'js/normalUserReviewWriteTemplate.js' %}"></script>
{% endblock %}
