{% extends 'normal_user_base.html' %}
{% load static %}

{% block main_contents %}
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <div id="icons" style="position:relative; display:none; float:left; height:500px; width:200px; border:1px solid green;"></div>
    <div style="width: 100%; height: 100%;">
        <form id="text_review" action="#" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="tr1">
                <div style="background-color: #A23355 ; color: white; height:100%; width: 10.61% ;
                        text-align: center; margin: 0 auto" id="review_address">주소</div>
                <input id="id_address" style="float: right; border-color: #A23355;
                        flex:1" name="address" required>
            </div>
            <div id="tr2">
                <div style="height: 9.09%; width: 100%; margin-bottom: 2.604%;">
                    <input id="id_title" style="height:100%;width: 100%; text-align: left; border-color: #B3B3B3;" name="title"
                           placeholder="제목을 입력하세요">
                </div>
                <div style="height: 58.7%; border:2px solid #B3B3B3;">
                    <div contenteditable class="fake_textarea" style="height: 100%; width: 100%; text-align:left;" id="review_sentence"></div>
                    <input style="display:none;" name="review_sentence" id="review_sentence1">
                </div>
                <div style="padding-top: 3.038%">
                    <ul class="image-preview"></ul> {# 업로드한 이미지 띄우는 부분 #}
                    <div style="float: right">
                        <input type="file" class="real-upload" accept="image/*" multiple id="images" name="images">
                        <input value="리뷰 등록" type="submit" style="background-color: #A4A1A1; border-color:#888888;
                        color: white">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        // 이미지 업로드
        function getImageFiles(e){
            const uploadFiles = [];
            const files = e.currentTarget.files;
            const imagePreview = document.querySelector('.image-preview');

            [...files].forEach(file => {
                uploadFiles.push(file);

                const reader = new FileReader();
                reader.onload = (e) => {
                    const preview = createElement(e, file);
                    imagePreview.appendChild(preview);
                };

              reader.readAsDataURL(file);
            });
        }

        function createElement(e, file) {
          const li = document.createElement('li');
          const img = document.createElement('img');
          img.setAttribute('src', e.target.result);
          img.setAttribute('data-file', file.name);
          li.appendChild(img);

          return li;
        }

        const realUpload = document.querySelector('.real-upload');
        realUpload.addEventListener('change', getImageFiles);

        {#  리뷰 작성/수정 구분  #}
        function reviewChangePage(){
            console.log(window.location.pathname);
            if(window.location.pathname==='/normal_user_review_change/'){
                document.getElementById('id_address').value= "{{ room.address }}"
                document.getElementById('id_title').value= "{{ review.reviewTitle }}"
                let images = ''
                {% for img in review.additionalImage %}
                    images += "{{ img }}" // 이미지에 대한 소스코드는 이후 수정 예정
                {% endfor %}
                document.getElementsByClassName('image-preview')[0].innerHTML = images
                {#document.getElementById('id_rent').value= "{{ review.rent }}"#}
                {#document.getElementById('id_deposit').value= "{{ review.deposit }}"#}
                {#document.getElementById('id_monthlyRent').value= "{{ review.monthlyRent }}"#}
                {#document.getElementById('id_roomSize').value= "{{ review.roomSize }}"#}
                {#document.getElementById('id_humidity').value= "{{ review.humidity }}"#}
                {#document.getElementById('id_soundproof').value= "{{ review.soundproof }}"#}
                {#document.getElementById('id_lighting').value= "{{ review.lighting }}"#}
                {#document.getElementById('id_cleanliness').value= "{{ review.cleanliness }}"#}
                {#document.getElementById('review_sentence').innerText= "{{ review.reviewSentence|safe }}"#}
                let text = '';
                {% for sentence in review.reviewSentence %}
                    text += "{{ sentence }}\n"
                {% endfor %}
                document.getElementById('review_sentence').innerText = text
            }
        }
        reviewChangePage()
    </script>
    <link rel="stylesheet" href="{% static 'css/normalUserReviewWriteTemplate.css' %}">
    <script type="text/javascript" src="{% static 'js/normalUserReviewWriteTemplate.js' %}"></script>
{% endblock %}