{% extends 'normal_user_review_list.html' %}
{% load static %}
{% block left_side_bar %}
<link rel="stylesheet" href="{% static 'css/normalUserReviewSearchTemplate.css' %}">
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />

    <div id='review_search_form' style="text-align:left; width:88.54%; height:66.16%;" >
        <form id="search_filter" action="{{normalUserReviewSearch}}" method="get">
            <div style="width:100%; height:6.11%;" id="review_search_filter">
                <span style="display:block; line-height:1; font-weight: bolder;">리뷰 검색 필터 </span>
            </div>
            <script>
                let a = (document.getElementById('review_search_filter').offsetHeight/16).toString()+'rem';
                document.getElementById('review_search_filter').style.fontSize=a;
            </script>
            <div style="width:98.32%; height:21.37%;" id="review_icon_form">
                <div id="review_icon_filter" style="width:100%; height:21.429%;">
                    <span style="display:block; height:100%;line-height:1;">포함된 아이콘</span>
                </div>
                <script>
                    a = (document.getElementById('review_icon_filter').offsetHeight/16).toString()+'rem';
                    document.getElementById('review_icon_filter').style.fontSize=a;
                </script>

                <div id="review_icon_selects">
                    <label>
                        <input type="checkbox" name="icons" value="0"
                               {% for i in icons %}
                               {% if i|first == '0' %}checked{% endif %}{% endfor %}>
                        <i class="fa fa-fw">
                            <img src="{% static 'images/iconImage/' %}00.png" style="width: 100%; height: 100%">
                        </i>
                    </label>
                    <label>
                        <input type="checkbox" name="icons" value="1"
                               {% for i in icons %}
                               {% if i|first == '1' %}checked{% endif %}{% endfor %}>
                        <span class="sr-only"><i class="fa fa-fw">
                            <img src="{% static 'images/iconImage/' %}11.png" style="width: 100%; height: 100%">
                        </i></span>
                    </label>
                    <label>
                        <input type="checkbox" name="icons" value="2"
                               {% for i in icons %}
                               {% if i|first == '2' %}checked{% endif %}{% endfor %}>
                        <span style="color:red"><i class="fa fa-fw">
                            <img src="{% static 'images/iconImage/' %}22.png" style="width: 100%; height: 100%">
                        </i></span>
                    </label>
                    <label>
                        <input type="checkbox" name="icons" value="3"
                               {% for i in icons %}
                               {% if i|first == '3' %}checked{% endif %}{% endfor %}>
                        <span style="color:red"><i class="fa fa-fw">
                            <img src="{% static 'images/iconImage/' %}33.png" style="width: 100%; height: 100%">
                        </i></span>
                    </label>
                </div>
                <script>
                    let b = Array.from(document.getElementById('review_icon_selects').children);
                    b.forEach(function(o){
                        a=(o.offsetHeight/16).toString()+'rem';
                        o.style.fontSize=a;
                    });
                </script>
            </div>
            <div id="written_date_form">
                <div id="written_date_filter">
                    <span style="display:block; line-height:1;">리뷰 작성일</span>
                </div>
                <script>
                    a=(document.getElementById('written_date_filter').offsetHeight/16).toString()+'rem';
                    document.getElementById('written_date_filter').style.fontSize=a;
                </script>
                <div id="written_date_selects" >
                    <div id="written_date_selects_div">
                        <select name="date">
                            <option value=''>-- 선택 --</option>
                            <option value="1week" {% if date == '1week' %}selected{% endif %}>최근 1주일간</option>
                            <option value="2weeks" {% if date == '2weeks' %}selected{% endif %}>최근 2주일간</option>
                            <option value="1month" {% if date == '1month' %}selected{% endif %}>최근 1달간</option>
                        </select>
                    </div>
                    <script>
                        {#a=((document.getElementById('writtenStart').offsetHeight-6)/16).toString()+'rem';#}
                        {#document.getElementById('writtenStart').style.fontSize=a;#}
                        {#b=((document.getElementById('writtenEnd').offsetHeight-6)/16).toString()+'rem';#}
                        {#document.getElementById('writtenEnd').style.fontSize=b;#}
                    </script>
                </div>
            </div>
            <div id="scores">
                <div id="score_filters">항목 별 점수 범위</div>
                <script>
                    a=(document.getElementById('score_filters').offsetHeight/16).toString()+'rem';
                    document.getElementById('score_filters').style.fontSize=a;
                </script>
                <div id="humidity">습도</div>
                <script>
                    a=(document.getElementById('humidity').offsetHeight/16).toString()+'rem';
                    document.getElementById('humidity').style.fontSize=a;
                </script>
                <div class="sliders_control">
                    <input name="humidity_from" id="humidityFromSlider" type="range" {% if humidity_from %}value="{{humidity_from}}"{% else %}value="1"{% endif %} min="1" max="5" step="1"/>
                    <input name="humidity_to" id="humidityToSlider" type="range" {% if humidity_to %}value="{{humidity_to}}"{% else %}value="5"{% endif %} min="1" max="5" step="1"/>
                </div>
                <div class="form_control">
                    <div class="form_control_container">
                        <div class="form_control_container__time" style="height:50%;">최소 점수</div>
                        <input class="form_control_container__time__input" style="height:50%;" readonly type="number" id="humidityFromInput" {% if humidity_from %}value="{{humidity_from}}"{% else %}value="1"{% endif %} min="1" max="5"/>
                    </div>
                    <div class="form_control_container">
                        <div class="form_control_container__time" style="height:50%;">최대 점수</div>
                        <input class="form_control_container__time__input" style="height:50%;" readonly type="number" id="humidityToInput" {% if humidity_to %}value="{{humidity_to}}"{% else %}value="5"{% endif %} min="1" max="5"/>
                    </div>
                </div>
                <div id="soundproof">방음</div>
                <script>
                    a=(document.getElementById('soundproof').offsetHeight/16).toString()+'rem';
                    document.getElementById('soundproof').style.fontSize=a;
                </script>
                <div class="sliders_control">
                    <input name="soundproof_from" id="soundproofFromSlider" type="range" {% if soundproof_from %}value="{{soundproof_from}}"{% else %}value="1"{% endif %} min="1" max="5" step="1"/>
                    <input name="soundproof_to" id="soundproofToSlider" type="range" {% if soundproof_to %}value="{{soundproof_to}}"{% else %}value="5"{% endif %} min="1" max="5" step="1"/>
                </div>
                <div class="form_control">
                    <div class="form_control_container">
                        <div class="form_control_container__time" style="height:50%;">최소 점수</div>
                        <input class="form_control_container__time__input" style="height:50%;" readonly type="number" id="soundproofFromInput" {% if soundproof_from %}value="{{soundproof_from}}"{% else %}value="1"{% endif %} min="1" max="5"/>
                    </div>
                    <div class="form_control_container">
                        <div class="form_control_container__time" style="height:50%;">최대 점수</div>
                        <input class="form_control_container__time__input" style="height:50%;" readonly type="number" id="soundproofToInput" {% if soundproof_to %}value="{{soundproof_to}}"{% else %}value="5"{% endif %} min="1" max="5"/>
                    </div>
                </div>
                <div id="lighting">채광</div>
                <script>
                    a=(document.getElementById('lighting').offsetHeight/16).toString()+'rem';
                    document.getElementById('lighting').style.fontSize=a;
                </script>
                <div class="sliders_control">
                    <input name="lighting_from" id="lightingFromSlider" type="range" {% if lighting_from %}value="{{lighting_from}}"{% else %}value="1"{% endif %} min="1" max="5" step="1"/>
                    <input name="lighting_to" id="lightingToSlider" type="range" {% if lighting_to %}value="{{lighting_to}}"{% else %}value="5"{% endif %} min="1" max="5" step="1"/>
                </div>
                <div class="form_control">
                    <div class="form_control_container">
                        <div class="form_control_container__time" style="height:50%;">최소 점수</div>
                        <input class="form_control_container__time__input" style="height:50%;" readonly type="number" id="lightingFromInput" {% if lighting_from %}value="{{lighting_from}}"{% else %}value="1"{% endif %} min="1" max="5"/>
                    </div>
                    <div class="form_control_container">
                        <div class="form_control_container__time" style="height:50%;">최대 점수</div>
                        <input class="form_control_container__time__input" style="height:50%;" readonly type="number" id="lightingToInput" {% if lighting_to %}value="{{lighting_to}}"{% else %}value="5"{% endif %} min="1" max="5"/>
                    </div>
                </div>
                <div id="cleanliness">청결도</div>
                <script>
                    a=(document.getElementById('cleanliness').offsetHeight/16).toString()+'rem';
                    document.getElementById('cleanliness').style.fontSize=a;
                </script>
                <div class="sliders_control">
                    <input name="cleanliness_from" id="cleanlinessFromSlider" type="range" {% if cleanliness_from %}value="{{cleanliness_from}}"{% else %}value="1"{% endif %} min="1" max="5" step="1"/>
                    <input name="cleanliness_to" id="cleanlinessToSlider" type="range" {% if cleanliness_to %}value="{{cleanliness_to}}"{% else %}value="5"{% endif %} min="1" max="5" step="1"/>
                </div>
                <div class="form_control">
                    <div class="form_control_container">
                        <div class="form_control_container__time" style="height:50%;">최소 점수</div>
                        <input class="form_control_container__time__input" style="height:50%;" readonly type="number" id="cleanlinessFromInput" {% if cleanliness_from %}value="{{cleanliness_from}}"{% else %}value="1"{% endif %} min="1" max="5"/>
                    </div>
                    <div class="form_control_container">
                        <div class="form_control_container__time" style="height:50%;">최대 점수</div>
                        <input class="form_control_container__time__input" style="height:50%;" readonly type="number" id="cleanlinessToInput" {% if cleanliness_to %}value="{{cleanliness_to}}"{% else %}value="5"{% endif %} min="1" max="5"/>
                    </div>
                </div>
            </div>
            <div id="text_form">
                <div id="search_address" >검색할 주소</div>
                <script>
                    a=(document.getElementById('search_address').offsetHeight/16).toString()+'rem';
                    document.getElementById('search_address').style.fontSize=a;
                </script>
                <div id="address_filter ">
                    <input class="form-control" type="search" placeholder="주소 입력" aria-label="Search"
                           id="address2" name="address" value="{{ address }}">
                </div>
            </div>
            <div id="submit-div">
                <a href="javascript:(0)" onclick="document.getElementById('search_filter').submit();" id="submit">검색</a>
            </div><br><br>
            <script>
                a=(document.getElementById('submit-div').offsetHeight/16).toString()+'rem';
                document.getElementById('submit').style.fontSize=a;
            </script>
        </form>
    </div>
{% endblock %}
{% block info %}
<div style ="border-bottom: solid 2px #B3B3B3 ; width:100%; height:10.6% ;padding:3.47% 8.854% 0.5% 6.07%;">
	    <input type="search" id="address1" style="  border-radius: 5px; width: 60.7%; height:100%;" placeholder="검색어 입력">
	    <span type ="icon" class ="icon"><i class="fa fa-search"></i></span>

    <div style="word-spacing:15px; float:right; ">
        <div style="display: inline-block;">
            <select id="sort_select_box" name="sort_select_box">
                <option value=''>-- 선택 --</option>
                <option value="1" {% if sorted == '1' %}selected{% endif %}>최신 순</option>
                <option value="2" {% if sorted == '2' %}selected{% endif %}>추천 순</option>
                <option value="3" {% if sorted == '3' %}selected{% endif %}>정확도 순</option>
            </select>
        </div>
    </div>
</div>
    <script>
        $("select[name=sort_select_box]").change(function(){
            var currentUrl = location.pathname

            console.log(currentUrl)
            console.log($(this).val()); //value값 가져오기 => (1,2,3)
            console.log($("select[name=sort_select_box] option:selected").text()); //text값 가져오기 => (최신순, 추천순, )

            var sorted_value = $(this).val()
            const urlSearch = new URLSearchParams(location.search);
            urlSearch.set('sorted', sorted_value)
            window.open(location.pathname + '?' + urlSearch, '_self');
        });
    </script>
    <script type="text/javascript" src="{% static 'js/normalUserReviewSearchTemplate.js' %}"></script>
{% endblock %}
