{% extends 'base.html' %}
{% load static %}

{% block head_menu %}
<!-템플릿 태그 중 url은 url.py에서 path마다 지정한 이름, 혹은 경로 규칙에 따라 url 값을 반환합니다.-->
<!-전체 url 값을 페이지에 직접 노출시키지 않는다는 장점이 있습니다.-->
{% if request.path != main %}
<meta http-equiv="refresh" content="0; url='{{main}}'">
{% endif %}
<link rel="stylesheet" href="{% static 'css/normalUserBaseTemplate.css' %}">
<script>
    function hi(){
        //상위 템플릿에서 작성한 div에 접근하는 함수
        document.getElementById("mainDiv").innerText='HoHoHo';
    }
</script>
<div id="mainMenu">
    <ul>
        <li>
            <button onclick="hi()">
                원룸 검색
            </button>
        </li>
        <li>
            <button>
                리뷰 검색
            </button>
        </li>
        <li>
            <button>
                내 리뷰
            </button>
        </li>
    </ul>
    <div id="userInfo">
        {% if alive == 'true' %}
            <button type="button" class="loginout" onclick="location.href = '{{logout}}'">logout</button>
            <button id="myInfo">내 정보</button>
        {% else %}
            <button type="button" class="loginout" onclick="location.href = '{{login}}'">login</button>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block main_contents %}
<script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6d1ad052df81bb894aba3f443d1fd674&libraries=services&autoload=true"></script>
<script type="text/javascript">
document.getElementById('mainDiv').style.width='1202px';
var mapContainer = document.getElementById('mainDiv'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(36.628064331494166, 127.45600280223212), // 지도의 중심좌표
        level: 5 // 지도의 확대 레벨
    };
// 지도 생성
var map = new kakao.maps.Map(mapContainer, mapOption);
</script>
{% endblock %}
