{% extends 'normal_user_base.html' %}
{% load index static %}

{% if request.path != main %}
<meta http-equiv="refresh" content="0; url='{{main}}'">
{% else %}
<script>
    window.onpageshow = function(event) {
        if (event.persisted) {
            document.location.reload();
        }
    };
</script>
{% endif %}

{% block left_side_bar %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<link rel="stylesheet" href="{% static 'css/normalUserMainTemplate.css' %}">
<script type="text/javascript" src="{% static 'js/normalUserMainTemplate.js' %}"></script>
<script>
$(document).ready(function(){
    var a = $('.slider').bxSlider({
        maxSlides:4,
        infiniteLoop:false,
        touchEnabled:false,
    });
});
</script>
<div class="slider" id="famous" onclick="">
    {% if popular_reviews %}
        {% for popular_review in popular_reviews %} {# 추천순 데이터 최대 4개 출력 #}
            <div style = "margin:10px; font-size:2px;"onclick="window.location.replace('{{normalUserReviewRead}}?id={{popular_review.id}}')"> {# 클릭시 해당 리뷰로 이동하는 링크 필요 #}
                <strong><span>{{ popular_review.reviewWriter }}</span></strong>
                <span style = "padding-left:40%;">추천 수 : {{ popular_review.recommendedOn|length }}</span><br>
                <div>리뷰 제목 : {{ popular_review.reviewTitle }}</div>
                <div>리뷰 내용 : {{ popular_review.reviewSentence }}</div>
                <span>대표 사진</span>
                <img class="left-side-room-img" src="{% static 'images/' %}{{ popular_review.additionalImage|first }}">
                <span>아이콘 목록 :
                    {% for popular_icon in popular_review.includedIcon %}
                        <img src="{% static 'images/iconImage/' %}{{ popular_icon }}">
                    {% endfor %}
                </span>
            </div>
        {% endfor %}
    {% else %}
        <div>등록된 리뷰가 없습니다.</div>
    {% endif %}
</div>
<div class="slider" id="recent">
    {% if latest_reviews %}
        {% for latest_review in latest_reviews %} {# 최신순 데이터 최대 4개 출력 #}
            <div onclick="window.location.replace('{{normalUserReviewRead}}?id={{latest_review.id}}')"> {# 클릭시 해당 리뷰로 이동하는 링크 필요 #}
                <span>작성자 : {{ latest_review.reviewWriter }}</span>
                <span>추천 수 : {{ latest_review.recommendedOn|length }}</span>
                <div>리뷰 제목 : {{ latest_review.reviewTitle }}</div>
                <div>리뷰 내용 : {{ latest_review.reviewSentence }}</div>
                <span>대표 사진</span>
                <img class="left-side-room-img" src="{% static 'images/' %}{{ latest_review.additionalImage|first }}">
                <span>아이콘 목록 :
                    {% for latest_icon in latest_review.includedIcon %}
                        <img src="{% static 'images/iconImage/' %}{{ latest_icon }}">
                    {% endfor %}
                </span>
            </div>
        {% endfor %}
    {% else %}
            <div>등록된 리뷰가 없습니다.</div>
    {% endif %}
</div>
{% endblock %}

{% block main_contents %}
    {% if request.path == login %}
<script>
    window.onpageshow = function(event) {
        if (event.persisted) {
            window.location.replace('{{main}}');
        }
    };
</script>
{% elif request.path == main %}
<script>
    window.onpageshow = function(event) {
        if (event.persisted) {
            window.location.replace('{{main}}');
        }
    };
</script>
{% else %}
<meta http-equiv="refresh" content="0; url='{{main}}'">
{% endif %}
<script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{javakey|java_key}}&libraries=services&autoload=true"></script>
<script type="text/javascript">
    document.getElementById('leftSideMenu').style.width='20%';
    document.getElementById('mainDiv').style.width='80%';
    document.getElementById('mainDiv').style.minWidth='960px';
    var mapContainer = document.getElementById('mainDiv'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(36.628064331494166, 127.45600280223212), // 지도의 중심좌표
            level: 5 // 지도의 확대 레벨
        };
    // 지도 생성
    function resizeMap() {
        var mapContainer = document.getElementById('map');
        mapContainer.style.width = document.getElementById('mainDiv').style.width;
    }
    var map = new kakao.maps.Map(mapContainer, mapOption);

    {# 지도에 원룸 위치 표시 #}
    var geocoder = new kakao.maps.services.Geocoder();

    $.ajax({
        url: 'http://127.0.0.1:8000/db/room/',
        method: "GET",
        dataType: "json"
    })
        .done(function (json){
            $.each(json, function (key, value){
                // 주소로 좌표를 검색합니다
                geocoder.addressSearch(value.address, function(result, status) {

                // 정상적으로 검색이 완료됐으면
                if (status === kakao.maps.services.Status.OK) {
                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                    // 결과값으로 받은 위치를 마커로 표시합니다
                    var marker = new kakao.maps.Marker({
                        map: map,
                        position: coords
                    });

                    var room_info = ''
                    if(value.name !== null)
                        room_info = value.name
                    else
                        room_info = value.address

                    // 인포윈도우로 장소에 대한 설명을 표시합니다
                    var infowindow = new kakao.maps.InfoWindow({
                        content: `<div style="width:150px; text-align:center; padding:6px 0; cursor: pointer" ` +
                            `onclick="window.location.replace(`+
                            `'{{ roomRead }}?roomId=` +
                            value.id +
                            `')" >`+ room_info + `</div>`
                    });

                    infowindow.open(map, marker);
                }})
            })
        });
</script>
{% endblock %}