{% extends 'normal_user_review_list.html' %}
{% load static %}
{% block left_side_bar %}
<link rel="stylesheet" href="{% static 'css/normalUserReviewSearchTemplate.css' %}">
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />

    <div id='review_search_form' style="text-align:left; width:88.54%; height:66.16%;" >
        <form id="search_filter" action="{{normalUserReviewSearch}}" method="get">
            <div style="width:100%; height:6.11%;" id="review_search_filter">
                <span style="display:block; line-height:1; font-weight: bolder;">리뷰 검색 필터 </span>
            </div>
            <script>
                let a = (document.getElementById('review_search_filter').offsetHeight/16).toString()+'em';
                document.getElementById('review_search_filter').style.fontSize=a;
            </script>
            <div style="width:98.32%; height:21.37%;" id="review_icon_form">
                <div id="review_icon_filter" style="width:100%; height:21.429%;">
                    <span style="display:block; height:100%;line-height:1;">포함된 아이콘</span>
                </div>
                <script>
                    a = (document.getElementById('review_icon_filter').offsetHeight/16).toString()+'em';
                    document.getElementById('review_icon_filter').style.fontSize=a;
                </script>

                <div id="review_icon_selects">
                    <label><input type="checkbox" name="color" value="blue">
                    <i  class="fa fa-home fa-fw"></i>
                    </label>
                    <label><input type="checkbox" name="color" value="red">
                    <span class="sr-only"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
                    </label>
                    <label><input type="checkbox" name="color" value="blue">
                    <span style="color:red"><i class="fa fa-camera-retro fa-fw"></i></span>
                        </label>
                    <label><input type="checkbox" name="color" value="blue">
                    <span style="color:red"><i class="fa fa-spinner fa-fw"></i></span>
                        </label>
                    <label><input type="checkbox" name="color" value="blue">
                    <span style="color:red"><i class="fa fa-refresh fa-fw"></i></span>
                        </label>
                    <label><input type="checkbox" name="color" value="blue">
                    <span style="color:red"><i class="fa fa-refresh fa-fw"></i></span>
                        </label>
                    <label><input type="checkbox" name="color" value="blue">
                    <span style="color:red"><i class="fa fa-refresh fa-fw"></i></span>
                        </label>
                    <label><input type="checkbox" name="color" value="blue">
                    <span style="color:red"><i class="fa fa-refresh fa-fw"></i></span>
                    </label>
                </div>
                <script>
                    let b = Array.from(document.getElementById('review_icon_selects').children);
                    b.forEach(function(o){
                        a=(o.offsetHeight/16).toString()+'em';
                        o.style.fontSize=a;
                    });
                </script>
            </div>
            <div id="written_date_form">
                <div id="written_date_filter">
                    <span style="display:block; line-height:1;">리뷰 작성일</span>
                </div>
                <script>
                    a=(document.getElementById('written_date_filter').offsetHeight/16).toString()+'em';
                    document.getElementById('written_date_filter').style.fontSize=a;
                </script>
                <div id="written_date_selects" >
                    <div id="written_date_selects_div">
                        <select id="writtenStart" name="writtenStart"></select>
                            ~
                        <select id="writtenEnd" name="writtenEnd"></select>
                    </div>
                    <script>
                        a=((document.getElementById('writtenStart').offsetHeight-6)/16).toString()+'em';
                        document.getElementById('writtenStart').style.fontSize=a;
                        b=((document.getElementById('writtenEnd').offsetHeight-6)/16).toString()+'em';
                        document.getElementById('writtenEnd').style.fontSize=b;
                    </script>
                </div>
            </div>
            <div id="text_form">
                <div id="search_address" >검색할 주소</div>
                <script>
                    a=(document.getElementById('search_address').offsetHeight/16).toString()+'em';
                    document.getElementById('search_address').style.fontSize=a;
                </script>
                <div id="address_filter ">
                    <input class="form-control" type="search" placeholder="주소 입력" aria-label="Search" id="address2" name="address">
                </div>
            </div>
            <div id="submit-div">
                <a href="javascript:(0)" onclick="document.getElementById('search_filter').submit();" id="submit">적용</a>
            </div>
            <script>
                a=(document.getElementById('submit-div').offsetHeight/16).toString()+'em';
                document.getElementById('submit').style.fontSize=a;
            </script>
        </form>
    </div>
{% endblock %}
{% block info %}
<div style ="border-bottom: solid 2px #B3B3B3 ; width:100%; height:10.6% ;padding:3.47% 8.854% 0.5% 6.07%;">
    <input type="search"style="  border-radius: 5px; width: 60.7%; height:100%;" placeholder="검색어 입력">
	<span type ="icon" class ="icon"><i class="fa fa-search"></i></span>

    <div style="word-spacing:15px; float:right; ">
        <div style="display: inline-block;">
            <select id="sort_select_box" name="sort_select_box" onchange="sort(this)">
                <option value="1">최신 순</option>
                {#            현재 주소에서 &sorted=1 파라미터 붙을때#}
                {#            ex) http://127.0.0.1:8000/room_with_reviews_display/?roomId=1&sorted=1 #}
                <option value="2">추천 순</option>
                {#            현재 주소에서 &sorted=2 파라미터 붙을때#}
                {#            ex) http://127.0.0.1:8000/room_with_reviews_display/?roomId=1&sorted=2 #}
                <option value="3">정확도 순</option>
                {#            현재 주소에서 &sorted=3 파라미터 붙을때#}
                {#            ex) http://127.0.0.1:8000/room_with_reviews_display/?roomId=1&sorted=3 #}
            </select>
        </div>
    </div>
</div>
    <script>
    $("select[name=sort_select_box]").change(function(){
        console.log($(this).val()); //value값 가져오기
        console.log($("select[name=sort_select_box] option:selected").text()); //text값 가져오기
        var sorted_value = $("select[name=sort_select_box] option:selected").text()
        const URLSearch = new URLSearchParams(location.search);
        if (URLSearch.has('sorted')) {
            console.log("if문")
            URLSearch.set('sorted', sorted_value)
        }
        else{
            console.log("else문")
            URLSearch.append('sorted', sorted_value)
        }
        console.log(URLSearch.keys())

    });
    function sort(data) {
        console.log(data)
        // 현재 url 가져오기
        var link = window.location.href //
        var search = window.location.search
        const URLSearch = new URLSearchParams(location.search);
        if (URLSearch.has('sorted')) {
            URLSearch.set('sorted', data.option.value)
        }
        else{

        }
    }
    </script>
{% endblock %}
