{% extends 'normal_user_review_list.html' %}
{% load static %}
{% block main_contents %}
    {% block info %}
<link rel="stylesheet" href="{% static 'css/roomTest31Template.css' %}">
<div style ="outline: solid 2px #0dcaf0 ; width:100%; height: 10.6%; padding: 4.04% 0px 5% 7.07%">
    <div style = "width: 30%; height:100%;">
	    <input type="text" placeholder="검색어 입력">
	    <button style = "width: 8.5%; height:57.14% ;">검색</button>
    </div>
</div>

    <div style="word-spacing:15px; float:right; ">
        <div style="display: inline-block;">
        <select id="sort_select_box" name="sort_select_box" onchange="sort()">
            <option value="1">최신 순</option>
            {#            현재 주소에서 &sorted=1 파라미터 붙을때#}
            {#            ex) http://127.0.0.1:8000/room_with_reviews_display/?roomId=1&sorted=1 #}
            <option value="2">추천 순</option>
            {#            현재 주소에서 &sorted=2 파라미터 붙을때#}
            {#            ex) http://127.0.0.1:8000/room_with_reviews_display/?roomId=1&sorted=2 #}
            <option value="3">정확도 순</option>
            {#            현재 주소에서 &sorted=3 파라미터 붙을때#}
            {#            ex) http://127.0.0.1:8000/room_with_reviews_display/?roomId=1&sorted=3 #}
        </select>
            </div>
        </div>
    {% endblock %}
{% endblock %}