{% extends 'normal_user_review_list.html' %}
{% load static %}
{% block left_side_bar %}

    <link rel="stylesheet" href="{% static 'css/normalUserRoomReadTemplate.css' %}">
    <div style="height: 100% ;text-align:center" >
        <img class="left-side-room-img" style= "display: block; margin: 2.8vh auto 2.8vh auto;
            height: 13vw; width :23vh;" src="{% static 'images/roomImage/' %}{{room.roomImage|first}}">
        <div style ="font-size : 20px;">
            <strong><span>주소:</span><span>{{ room.address }}</span></strong>
        </div>
    <div>
            <span><br>건축연도 : </span><span>{{ room.builtYear }}</span>
        </div>
    <div>
            <span> 층수 :</span><span>{{ room.commonInfo }}</span>
        </div>
    <div>
            <span> 옵션 : </span><span> </span>
        </div>
    </div>
{% endblock %}